<div class="row">

  <div class="offset-lg-2 offset-md-1 col-lg-8 col-md-10 col-sm-12">
    <h3 class="text-center pb-5">{{type}} Table</h3>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add New {{type}}" [(ngModel)]="newOption.p_value" #val="ngModel"
               aria-describedby="basic-addon2" required>
        <div class="input-group-append">
          <button class="btn btn-outline-success" (click)="addNew()" [disabled]="!val.valid" type="button">Create
          </button>
        </div>
      </div>


    <div class="input-group pt-2" *ngFor="let value of options;let i=index;">
      <input type="text" class="form-control" placeholder="value" [(ngModel)]="value.p_value" #val="ngModel"
             aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-success" (click)="update(i)" [disabled]="!val.dirty" type="button">Save</button>
        <button class="btn btn-outline-danger" (click)="delete(i)" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>
