.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.toggle-btn{
  border-radius: 0!important;
  border-bottom-right-radius: 25px!important;
  border-top-right-radius: 15px!important;
  border-bottom-left-radius: 20px!important;
  background-color: #0074d9;
  color: white;
  position: fixed;
  left: -8px;
  top: -4px;
  z-index: 5;
}

