<nav id="sidebar" [ngClass]="{active:open}">
  <div class="sidebar-header">
    <h3>Real Estate</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <i>Activities</i>
      <ul class="list-unstyled pl-2">
        <li>
          <a href="#">Properties</a>
        </li>
        <li>
          <a href="#">Listing</a>
        </li>
        <li>
          <a href="#">Requests</a>
        </li>
        <li>
          <a href="#">Tasks</a>
        </li>
        <li>
          <a href="#">Transactions</a>
        </li>
        <li>
          <a href="#">Transactions By Others</a>
        </li>

      </ul>
    </li>
    <li>
      <i>Contacts</i>
      <ul class="list-unstyled pl-2">
        <ul class="list-unstyled pl-2">
          <li *ngFor="let t of contacts">
            <a routerLink="contacts/{{t}}" (click)="open = false">{{t}}</a>
          </li>
        </ul>
      </ul>
    </li>
    <li>
      <i>Tools</i>
      <ul class="list-unstyled pl-2">
        <li *ngFor="let t of tools">
          <a routerLink="choices/{{t}}" (click)="open = false">{{t}}</a>
        </li>
        <li>
          <a routerLink="users" (click)="open = false">Users</a>
        </li>
      </ul>
    </li>
    <li>
      <a class = "logout" routerLink="" (click)="loginService.logout();open=!open">Logout</a>
    </li>

  </ul>

  <a class="close-btn" (click)="open = !open">&times;</a>
</nav>


